{% extends "@theme/base.html.twig" %}

{% block title %}Index - Calcule Height{% endblock %}
{% block body %}
    <h1>Results</h1>

    <ul>
        <li><a href="?file=arquivo_um.test">Arquivo Um</a> </li>
        <li><a href="?file=arquivo_dois.test">Arquivo Dois</a></li>
    </ul>

    <ul>
        <li> Arquivo : {{ file }} </li>
        {% for key, result in results %}
            <li> Height : {{ key }} - Result: {{ result }}</li>
        {% endfor %}
    </ul>
{% endblock %}